@model Domain.Entities.Order

@{
    ViewData["Title"] = "Update Order";
}
@{
    var maxAmount = Model.Painting.NumberAvailable + Model.Amount;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="updOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Painting.Name" class="control-label"></label>
                <input asp-for="Painting.Name" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" max="@maxAmount" min = "1" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress" class="control-label"></label>
                <input asp-for="ShippingAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
