<h3>An error occured while processing your request.</h3>
<h5>You are welcome to contact me on yanush419@gmail.com if you have any question !</h5>

<a asp-action="index" asp-controller="Artists">
    Click here to navigate to the home page
</a>