@model Domain.Entities.Painting

@{
    ViewData["Title"] = "Biography";
}
<div class="container bootstrap snippet" style="padding-top: 5%; font-family: 'Times New Roman',serif">


    <div class="col-md-5 text-center">
        <img
            src="@Model.ImageUri"
            alt="">
    </div>
    <div class="container">
        <h2 class="text-left">@Html.DisplayFor(model => model.Name)</h2>
        <hr>
        <h5 class="text-left">@Html.DisplayFor(model => model.Description.BigDescription)</h5>
    </div>
    
</div>