<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You need to confirm your email before making purchace !</h6>
    <img src="~/images/Access_Denied.jpg" style="width: 40%"  alt="Access denied"/>
</div>