@model WebApplication.ViewModels.LoginViewModel

@{
    ViewBag.Title = "User Login";
}
<div class="text-center">
    <link rel="stylesheet" href="~/css/logIn.css"/>
    <form class="form-signin" method="post" asp-action="Login" asp-controller="Account">
        <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

        <label asp-for="Email" class="sr-only">Email address</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <span asp-validation-for="Email" class="form-text text-danger"></span>

        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="">
        <span asp-validation-for="Password" class="form-text text-danger"></span>

        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

        <div class="checkbox mb-3">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe"/>
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Login</button>
    </form>
    <div>
        @if (Model?.ExternalLogins?.Count != 0)
        {
            <form class="form-signin" method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                <button class="btn btn-light btn-block" type="submit" value="@Model.ExternalLogins[0].Name" name="provider">
                    
                        <span class="">Log in with Google</span>
                    
                </button>
            </form>
        }
    </div>
</div>
